@font-face {
    font-family: "Torney_Comic";
    src: url("./fonts/Torney_Comic.ttf") format("truetype"),
      url("./fonts/Torney_Comic.ttf") format("woff");
    font-weight: 400;
  }
  

  .comic-neue-regular {
    font-family: "Comic Neue", serif;
    font-weight: 400;
    font-style: normal;
  }

  *{

    font-family: "Comic Neue", serif;
    font-weight: 700;
    font-style: normal;;
   
  }

 